<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <form action="/checkout" method="POST">

            <p>Purchased of item: <input type="text" name="item" id="item"></p>
            <input type="submit" value="sumbit" id="submit">
        </form>
    </body>

</html>
